<%= simple_form_for @comment do |f| %>

    <div class="form-group-3">
      <%= f.input :message, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
      <%= f.hidden_field :post_id %>
    </div>

    <div class="form-group-submit">
      <%= f.button :submit %>
    </div>

<% end %>
