/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Raleway:b');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #4680f4;
}

a:hover {
  color: #5b89e5;
  text-decoration: none;
}

p {
  font-size: 18px;
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 42px;
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #337ab7;
  border-radius: 2px;
  border: 1px solid #888;
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #888;
  border-color: #888;
  outline: 0;
  background-color: #fff;
  transition: all 0.2s;
}

.container-fluid {
  padding: 25px 0 0 0;
}

.notice {
  display: inline-block;
}

.alert {
  display: inline-block;
  padding-top: 9px;
  margin: 0;
}

/***********************************
Navbar
************************************/

.navbar-brand {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.navbar-default {
  background-color: white;
  border-color: white;
  font-size: 14px;
}
.navbar-default .navbar-brand {
  color: #5b89e5;
}

.navbar-default .navbar-nav > li > a {
  color: #5b89e5;
}
